<h1>{{model.app.title}}</h1>

<h2>General Guidelines</h2>
<LinkList @items={{model.general}}></LinkList>

<h2>Patterns</h2>
<LinkList @items={{model.patterns}}></LinkList>

<h2>Anti-Patterns</h2>
<LinkList @items={{model.anti_patterns}}></LinkList>

{{outlet}}
