<h1>{{model.text.title}}</h1>

<PatternExampleContainer @title="Carousel">
  <DeclarativeCarousel @photos={{model.photos}} @currentSlideIndex={{model.currentSlideIndex}} />
  <h3>The current slide index is {{model.currentSlideIndex}}</h3>
</PatternExampleContainer>

<PatternExplanation @showText={{model.text.pattern-explanation.show}} as | P |>
  <P.overview @text={{model.text.pattern-explanation.overview}} />
  <P.use-cases @cases={{model.text.pattern-explanation.use-cases}} />
  <P.non-cases @cases={{model.text.pattern-explanation.rabbit-holes}} />
  <P.references @references={{model.text.pattern-explanation.references}} />
</PatternExplanation>

