<h1>{{t (concat model.t_ns "title")}}</h1>

<PatternExampleContainer @title="Carousel">
  <DeclarativeCarousel @photos={{model.photos}} @currentSlideIndex={{model.currentSlideIndex}} />
  {{t (concat model.t_ns "current_slide") currentSlideNumber=(add model.currentSlideIndex 1)}}
</PatternExampleContainer>
<PatternExplanation @showText={{t (concat model.t_ns_pe "show")}} as | P |>
  <P.overview @text={{t (concat model.t_ns_pe "overview")}} />
  <P.use-cases @cases={{model.use_cases}} />
  <P.non-cases @cases={{model.rabbit_holes}} />
  <P.references @references={{model.references}} />
</PatternExplanation>

