<h1 class="text-center" role="button" onclick={{action "updateCurrentlySelectedSection" null}}>
  {{#link-to "index"}}
    {{appTitle}}
  {{/link-to}}
</h1>

<NavigationMenu as |Menu|>
  <Menu.item as |Item|>
    <h3><FaIcon @icon={{data.sections.general.icon}} class="mr-2" />General</h3>
    <Item.submenu as |Menu|>
      {{#each data.sections.general.articles as |article|}}
        <Menu.item @route={{article.link}}>
          {{article.title}}
        </Menu.item>
      {{/each}}
    </Item.submenu>
  </Menu.item>
  <Menu.item as |Item|>
    <h3><FaIcon @icon={{data.sections.patterns.icon}} class="mr-2" />Patterns</h3>
    <Item.submenu as |Menu|>
      <Menu.item as |Item|>
        Substates<FaIcon @icon="chevron-right" class="ml-1"/>
        <Item.submenu as |Menu|>
          {{#each data.sections.patterns.articles.substates as |article|}}
            <Menu.item @route={{article.link}}>
              {{article.title}}
            </Menu.item>
          {{/each}}
        </Item.submenu>
      </Menu.item>
      <Menu.item as |Item|>
        Components<FaIcon @icon="chevron-right" class="ml-1"/>
        <Item.submenu as |Menu|>
          {{#each data.sections.patterns.articles.components as |article|}}
            <Menu.item @route={{article.link}}>
              {{article.title}}
            </Menu.item>
          {{/each}}
        </Item.submenu>
      </Menu.item>
      <Menu.item as |Item|>
        Models<FaIcon @icon="chevron-right" class="ml-1"/>
        <Item.submenu as |Menu|>
          {{#each data.sections.patterns.articles.models as |article|}}
            <Menu.item @route={{article.link}}>
              {{article.title}}
            </Menu.item>
          {{/each}}
        </Item.submenu>
      </Menu.item>
      <Menu.item as |Item|>
        Mixins<FaIcon @icon="chevron-right" class="ml-1"/>
        <Item.submenu as |Menu|>
          {{#each data.sections.patterns.articles.mixins as |article|}}
            <Menu.item @route={{article.link}}>
              {{article.title}}
            </Menu.item>
          {{/each}}
        </Item.submenu>
      </Menu.item>
      <Menu.item as |Item|>
        Actions<FaIcon @icon="chevron-right" class="ml-1"/>
        <Item.submenu as |Menu|>
          {{#each data.sections.patterns.articles.actions as |article|}}
            <Menu.item @route={{article.link}}>
              {{article.title}}
            </Menu.item>
          {{/each}}
        </Item.submenu>
      </Menu.item>
    </Item.submenu>
  </Menu.item>
  <Menu.item as |Item|>
    <h3><FaIcon @icon={{data.sections.anti-patterns.icon}} class="mr-2" />Anti-Patterns</h3>
    <Item.submenu as |Menu|>
      {{#each data.sections.anti-patterns.articles as |article|}}
        <Menu.item @route={{article.link}}>
          {{article.title}}
        </Menu.item>
      {{/each}}
    </Item.submenu>
  </Menu.item>

  {{!-- <Menu.item as |Item|>
    Docs
    <Item.submenu as |Menu|>
      <Menu.item as |Item|>
        Ember.js Guides

        <Item.submenu as |Menu|>
          <Menu.item>
            Getting Started
          </Menu.item>
          <Menu.item as |Item|>
            Tutorials
            <Item.submenu as |Menu|>
              <Menu.item>
                Tutorial 1
              </Menu.item>
              <Menu.item as |Item|>
                Tutorial 2
              </Menu.item>
            </Item.submenu>
          </Menu.item>
          <Menu.item>
            The Object Model
          </Menu.item>
        </Item.submenu>
      </Menu.item>      
      <Menu.item>
        Api Reference
      </Menu.item>      
      <Menu.item>
        CLI guides
      </Menu.item>      
    </Item.submenu>
  </Menu.item>
  <Menu.item as |Item|>
    Stuff
    <Item.submenu as |Menu|>
      <Menu.item>
        Other Stuff
      </Menu.item>      
      <Menu.item>
        Something
      </Menu.item>      
      <Menu.item>
        CLI guides
      </Menu.item>      
    </Item.submenu>
  </Menu.item>
  <Menu.item>
    Blog
  </Menu.item>
  <Menu.item>
    Community
  </Menu.item>
  <Menu.item>
    About
  </Menu.item> --}}
</NavigationMenu>

{{!-- <h1 class="text-center" role="button" onclick={{action "updateCurrentlySelectedSection" null}}>
  {{#link-to "index"}}
    {{appTitle}}
  {{/link-to}}
</h1>

<nav class="navbar navbar-sections navbar-expand navbar-dark primary-color">
  <ul class="navbar-nav mr-auto ml-auto">
    {{#each-in sections as | sectionTitle data |}}
      {{#let (eq currentSection sectionTitle) as | isSelected |}}
        <li role="button" onclick={{action "updateCurrentlySelectedSection" (if isSelected null sectionTitle)}} class="nav-item{{if isSelected " active"}}">
          <h3 href="#" class="nav-link mx-3">
            <FaIcon @icon={{data.icon}} />
            {{sectionTitle}}
          </h3>
        </li>
      {{/let}}
    {{/each-in}}
  </ul>
</nav>

{{#each-in sections as | sectionTitle data |}}
  {{#if (eq currentSection sectionTitle)}}
    <LinkList @items={{data.articles}} />
  {{/if}}
{{/each-in}} --}}