<h1 class="text-center" role="button" onclick={{action "updateCurrentlySelectedSection" null}}>
  {{#link-to "index"}}
    {{appTitle}}
  {{/link-to}}
</h1>

<NavigationMenu as |Menu|>
  <Menu.item as |Item|>
    <h3><FaIcon @icon={{data.sections.general.icon}} class="mr-2" />General</h3>
    <Item.submenu as |Menu|>
      {{#each data.sections.general.articles as |article|}}
        <Menu.item @route={{article.link}}>
          {{unless article.link '[WIP]'}} {{article.title}}
        </Menu.item>
      {{/each}}
    </Item.submenu>
  </Menu.item>
  <Menu.item as |Item|>
    <h3><FaIcon @icon={{data.sections.patterns.icon}} class="mr-2" />Patterns</h3>
    <Item.submenu as |Menu|>
      <Menu.item as |Item|>
        Substates<FaIcon @icon="chevron-right" class="ml-1"/>
        <Item.submenu as |Menu|>
          {{#each data.sections.patterns.articles.substates as |article|}}
            <Menu.item @route={{article.link}}>
              {{article.title}}
            </Menu.item>
          {{/each}}
        </Item.submenu>
      </Menu.item>
      <Menu.item as |Item|>
        Components<FaIcon @icon="chevron-right" class="ml-1"/>
        <Item.submenu as |Menu|>
          {{#each data.sections.patterns.articles.components as |article|}}
            <Menu.item @route={{article.link}}>
              {{unless article.link '[WIP]'}} {{article.title}}
            </Menu.item>
          {{/each}}
        </Item.submenu>
      </Menu.item>
      <Menu.item as |Item|>
        Models<FaIcon @icon="chevron-right" class="ml-1"/>
        <Item.submenu as |Menu|>
          {{#each data.sections.patterns.articles.models as |article|}}
            <Menu.item @route={{article.link}}>
              {{unless article.link '[WIP]'}} {{article.title}}
            </Menu.item>
          {{/each}}
        </Item.submenu>
      </Menu.item>
      <Menu.item as |Item|>
        Mixins<FaIcon @icon="chevron-right" class="ml-1"/>
        <Item.submenu as |Menu|>
          {{#each data.sections.patterns.articles.mixins as |article|}}
            <Menu.item @route={{article.link}}>
              {{unless article.link '[WIP]'}} {{article.title}}
            </Menu.item>
          {{/each}}
        </Item.submenu>
      </Menu.item>
      <Menu.item as |Item|>
        Actions<FaIcon @icon="chevron-right" class="ml-1"/>
        <Item.submenu as |Menu|>
          {{#each data.sections.patterns.articles.actions as |article|}}
            <Menu.item @route={{article.link}}>
              {{unless article.link '[WIP]'}} {{article.title}}
            </Menu.item>
          {{/each}}
        </Item.submenu>
      </Menu.item>
    </Item.submenu>
  </Menu.item>
  <Menu.item as |Item|>
    <h3><FaIcon @icon={{data.sections.anti-patterns.icon}} class="mr-2" />Anti-Patterns</h3>
    <Item.submenu as |Menu|>
      {{#each data.sections.anti-patterns.articles as |article|}}
        <Menu.item @route={{article.link}}>
          {{unless article.link '[WIP]'}} {{article.title}}
        </Menu.item>
      {{/each}}
    </Item.submenu>
  </Menu.item>
</NavigationMenu>