<h1>{{model.text.title}}</h1>

<PatternExampleContainer @title="Amount Incrementor">
  {{amount-incrementor 
    amount=amount
    onAmountIncrement=(action "changeAmount")
  }}
</PatternExampleContainer>

<div class="pattern-example my-4">
  <h3>Rating Stars</h3>
  {{rating-stars rating=stars}}
  <br>
  {{amount-incrementor 
    amount=stars
    stepSize=0.5
    onAmountIncrement=(action "changeStars")
  }}
</div>

<PatternExplanation @showText={{t (concat model.t_ns_pe "show")}} as | P |>
  <P.overview @text={{t (concat model.t_ns_pe "overview")}} />
  <P.use-cases @cases={{model.use_cases}} />
  <P.non-cases @cases={{model.rabbit_holes}} />
  <P.references @references={{model.references}} />
</PatternExplanation>