<div class="pattern-example my-4">
  <h3>Amount Incrementor</h3>
  {{amount-incrementor 
    amount=amount
    onAmountIncrement=(action "changeAmount")
  }}
</div>

<div class="pattern-example my-4">
  <h3>Rating Stars</h3>
  {{rating-stars rating=stars}}
  <br>
  {{amount-incrementor 
    amount=stars
    stepSize=0.5
    onAmountIncrement=(action "changeStars")
  }}
</div>

<PatternExplanation @showText="But why?" as | P |>
  <P.overview @text={{model.overview}} />
  <P.use-cases @cases={{model.useCases}} />
  <P.non-cases @cases={{model.nonUseCases}} />
  <P.references @references={{model.references}} />

  {{!-- Pure data down, actions up<br>
  Thank you Dianne Eramo her <a href="https://youtu.be/Kyd2mQpR_9c?t=377">your talk at EmberConf 2019</a>
  <section class="pattern-uses py-3">
    <h3>Pattern is great for</h3>
    <ul>
      <li>
        Building an Addon for the Ember Community :-)
      </li>    
      <li>
        Components that will be reused in various scenarios in different routes and with different models
      </li>    
    </ul>
    <h3>Pattern is probably overkill when</h3>
    <ul>
      <li>
        A component will only be used with one model and should modify the data directly
      </li>    
      <li>
        A component should not be 'context aware' (know what the route has for state)
      </li>    
      <li>
        If the above is true, see the {{#link-to "patterns.component.single-purpose"}}single purpose{{/link-to}} component pattern
      </li>    
    </ul>
  </section> --}}
</PatternExplanation>